<%= render "shared/header" %>
<div class="intro">
  <%= image_tag("cake-intro2.jpg", class:"cake-intro") %>
</div>
<div>
  <%= link_to '投稿する', new_skill_path,method: :get  %>
</div>
<% if user_signed_in? %>
<% @skills.each do |skill| %>
<div class="skill">
  <div class="skill-image">
    <%= image_tag skill.image if skill.image.attached?%>
  </div>
  <div class="skill-name">
    <%= skill.name %>
  </div>
  <div class="skill-category">
    <%= skill.category.name %>
  </div>
  <div class="skill">
    <%= skill.formulation_text %>
  </div>
  <div class="skill">
    <%= skill.recipe_text %>
  </div>
</div>
<% end %>
<% end %>