<%= render "shared/header" %>
<% unless user_signed_in? %>
<div class="intro">
  <div class="intro1">
    <h1>CakeLog</h1>
    <p>一緒にお菓子作りを<br>
      高めていきませんか?</p>
    <%= link_to "新規登録", new_user_registration_path ,class: "sign-up3" %>
  </div>
  <div id="slide">
    <ul>
      <li><%= image_tag("cake-intro2.jpg", class:"cake-intro") %></li>
      <li><%= image_tag("cake-intro12.jpg", class:"cake-intro") %></li>
      <li><%= image_tag("cake-intro4.jpg", class:"cake-intro") %></li>
      <li><%= image_tag("cake-intro9.jpg", class:"cake-intro") %></li>
    </ul>
  </div>
  <div id="button">
    <ul>
      <li><a href="#" class="target">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
    </ul>
  </div>
</div>
<section class="philosophy">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>好奇心を最大化させよう！</h2>
        <p>
          美味しいお菓子を作りたい。もっと新しい技術を学びたい。身につけた技術を定着させたい。そんなことを、あなたは考えていませんか？興味のあるお菓子作りの技術を閲覧や投稿することで、自分自身をもっと磨いていけると信じています。さあ，いっしょに関わる人を自分のケーキで幸せにしていきましょう。
        </p>
        <p class="mt-4">CakeLog　辻明弘</p>
      </div>
      <div class="col-md-6">
        <%= image_tag("philosophy-image.jpg", class:"philosophy-image") %>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="content">
  <div class="container">
    <p class="content-p">投稿例</p>
    <div class="row">
      <div class="col-md-6">
        <div class="content1">
          <%= image_tag("contents.jpg", class: "contents") %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content1-1">
          <div class="content2">
            <h2>マフィン</h2>
            <h3>材料</h3>
            <p>・小麦粉___50g</p>
            <p>・たまご___2個</p>
            <p>・牛乳_____100g</p>
          </div>
          <div class="content3">
            <h3>作り方</h3>
            <p>1,小麦粉をふるう。<br>
              2,卵を割ってボウルにいれる。<br>
              3,牛乳を沸騰直前まで温める。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>

<section class="skills">
  <% if user_signed_in? %>
  <% @skills.each do |skill| %>
  <div class="skill">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="skill-name">
            <div>
              <span class="contributor">投稿者</span><span class="contributor"><%= skill.user.name %></span>
            </div>
            <span class="skill-name1"><%= skill.name %></span>
          </div>
          <div class="skill-image">
            <%= image_tag(skill.image,class: "skill-image") if skill.image.attached?%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
<% end %>

<%= render "shared/footer" %>